.player-nav {
  display: flex;
  justify-content: space-evenly;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.player-home-btn {
  padding: 16px 16px 24px 16px;
  text-align: -webkit-center;
}
.player-lg-btn {
  padding: 16px 16px 24px 16px;
  text-align: -webkit-center;
}

/* SPLASH */
.splash-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  max-width: 400px;
}

.splash-heading {
  padding: 16px 16px 24px 16px;
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 700;
  font-size: 32px;

  color: #ffecbc;

  mix-blend-mode: normal;
}

.splash-select-english {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;

  color: #ffffff;
}

.splash-select-hindi {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;

  text-align: center;

  color: #ffffff;
}

.splash-lg-btn {
  padding: 16px 16px 24px 16px;
  text-align: -webkit-center;
}

/* REGISTER */
.register-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  max-width: 400px;
}

.register-heading {
  padding: 16px 16px 48px 16px;
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;

  color: #ffecbc;

  mix-blend-mode: normal;
}

.register-input {
  background: rgba(125, 83, 38, 0.5);
  border: 1.5px solid #ffecbc;
  box-shadow: inset 0px 3px 7.5px rgba(0, 0, 0, 0.25);
  border-radius: 500px;

  padding: 8px 16px 8px 16px;
  text-align: center;

  font-size: 18px;

  color: #ffffff;
}

.register-input::-webkit-input-placeholder {
  color: #a4a4a4;
}

.register-input:focus {
  color: #ffffff;
}

.register-next-btn {
  background: rgba(41, 28, 13, 0.63);
  mix-blend-mode: hard-light;
  border: 1.71052px solid #ffebce;
  box-shadow: 0px 0px 2.99342px #ffb9a3,
    inset 0px 0px 2.73684px 0.342105px rgba(0, 0, 0, 0.5);
  border-radius: 500px;

  color: #ffecbc;

  font-size: 18px;
  padding: 8px 32px 8px 32px;
}

/* LOBBY */
.lobby-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  max-width: 400px;
}

.lobby-heading {
  padding: 0px 16px 16px 16px;
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 700;
  font-size: 32px;

  color: #ffecbc;

  mix-blend-mode: normal;

  text-align: center;
}

.lobby-subheading {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;

  text-align: center;

  color: #ffecbc;
}

/* GAME */
.game-center {
  text-align: center;
  width: 100%;
  text-align: -webkit-center;
}

.game-question {
  padding: 64px 16px 24px 16px;
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;

  text-align: center;

  color: #ffecbc;
  max-width: 400px;
}

.game-options {
  display: flex;
  justify-content: space-between;
  max-width: 400px;
  padding-top: 48px;
}

.game-options-col-1 {
  width: 100%;
}

.game-option-div {
  padding: 16px;
}

.game-options-col-2 {
  height: 100%;
  padding-top: 115px;
}

.game-timer-div {
  background: radial-gradient(50% 50% at 50% 50%, #66421c 0%, #201307 100%);
  border: 1.31769px solid #ffecbc;
  border-radius: 500px;
  height: 64px;
  width: 64px;
}
.game-timer-text {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;

  text-align: center;

  color: #ffecbc;
  padding: 16px;
  margin: auto;
}

.game-question-numbers {
  display: flex;
  justify-content: flex-start;
  margin: auto;
  overflow-x: scroll;
  max-width: 400px;
  padding: 32px 16px 32px 16px;
}

.game-question-number {
  border: 1px solid #ffffff00;
  border-radius: 4px;
  padding: 4px 8px 4px 8px;
  margin-right: 2px;
}

.game-question-number-selected {
  background: #745331;
  border: 1px solid #ffffff;
  box-shadow: 1px -1px 4px rgba(0, 0, 0, 0.25);
  border-radius: 4px;
  padding: 4px 8px 4px 8px;
  margin-right: 2px;
}

.game-question-number-text {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  color: #ffffff;
}

.player-game-nav {
  display: flex;
  justify-content: center;
  position: fixed;
  bottom: 0;
  width: 100%;
}

/* RESULT */
.result-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  max-width: 400px;
}

.result-result-text {
  padding: 0px 16px 32px 16px;
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;

  text-align: center;

  color: #ffecbc;
}

.result-congrats-text {
  padding: 0px 16px 8px 16px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;

  text-align: center;

  color: #ffecbc;
}

.result-heading {
  padding: 0px 16px 16px 16px;
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 700;
  font-size: 43.6091px;
  line-height: 120.5%;
  /* identical to box height, or 53px */

  text-align: center;

  color: #ffecbc;
}

.result-rank {
  background: radial-gradient(
    50% 50% at 50% 50%,
    rgba(104, 96, 96, 0) 0%,
    #ffe091 100%
  );
  border: 8px solid #ffecbc;
  border-radius: 50%;
  height: 150px;
  width: 150px;
  margin: auto;
}

.result-rank-text {
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 700;
  font-size: 90px;
  line-height: 131px;
  text-align: center;

  color: #ffffff;
}

.result-restart-btn {
  background: linear-gradient(120deg, #ffd78a 0%, #bc906d 75%, #401f08 105%);
  border: 1px solid #ffe0a3;
  box-shadow: 0px 0.5px 3px rgba(0, 0, 0, 0.15), inset 0px 0.5px 5px #573d2a;
  backdrop-filter: blur(15px);

  border-radius: 500px;

  padding: 8px 16px 8px 16px;
  margin-top: 32px;
}

.result-restart-btn-text {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  /* identical to box height, or 29px */

  text-align: center;

  color: #573d2a;
}
