.host-bottom-nav {
  position: fixed;
  bottom: 0px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

/* SPLASH */
.host-splash-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
}

.host-splash-heading {
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 700;
  font-size: 72px;

  text-align: center;

  color: #ffecbc;

  mix-blend-mode: normal;
}

.host-splash-bottom-nav {
  position: absolute;
  bottom: 100px;
  left: 50%;
  transform: translate(-50%, 0%);
  width: 100%;
}

.host-splash-select-english {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;

  color: #ffffff;
  padding-bottom: 8px;
}

.host-splash-select-hindi {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;

  text-align: center;

  color: #ffffff;
  padding-bottom: 24px;
}

/* REGISTER */
.host-register-center {
  width: 100%;
  padding-top: 64px;
}

.host-register-heading {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 42px;
  line-height: 140%;

  text-align: center;

  color: #ffecbc;
}

.host-register-subheading {
  font-family: "Montserrat";
  font-style: italic;
  font-weight: 500;
  font-size: 18px;
  line-height: 180%;

  text-align: center;

  color: #ffecbc;
}

.host-register-intro-content {
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 160%;

  text-align: center;

  color: #ffecbc;
  padding: 16px 0 24px 0;
}

.host-register-next-btn {
  background: rgba(41, 28, 13, 0.63);
  mix-blend-mode: hard-light;
  border: 2px solid #ffebce;
  box-shadow: 0px 0px 4px #ffb9a3, inset 0px 0px 3px 0.5px rgba(0, 0, 0, 0.5);
  border-radius: 500px;

  color: #ffecbc;

  font-size: 24px;
  padding: 16px 64px 16px 64px;
}

/* LOBBY */
.host-lobby-center {
  width: 100%;
  padding-top: 64px;
}

.host-lobby-heading {
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 700;
  font-size: 50px;
  line-height: 140%;

  text-align: center;

  color: #ffecbc;
}

.host-lobby-waiting-heading {
  padding: 0px 16px 16px 16px;
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 700;
  font-size: 32px;

  color: #ffecbc;

  mix-blend-mode: normal;

  text-align: center;
}

.host-lobby-subheading {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;

  text-align: center;

  color: #ffecbc;
}

.host-lobby-center-names {
  width: 100%;
  max-width: 1600px;
  margin: auto;
  padding-top: 48px;
}

.host-lobby-name-chip-wrap {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.host-lobby-name-chip {
  background: linear-gradient(90deg, #ffecbc -208%, #ffecbc 50%, #ffecbc 135%);
  mix-blend-mode: normal;
  border: 1.75px solid #72451c;
  box-shadow: inset 1px -1px 14px rgba(0, 0, 0, 0.25);
  border-radius: 500px;

  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 22px;

  text-align: center;

  color: #573d2a;
  text-transform: uppercase;
  padding: 32px 120px 32px 120px;
  margin: 16px;
}

.host-lobby-start-btn {
  background: rgba(41, 28, 13, 0.63);
  mix-blend-mode: hard-light;
  border: 3.5px solid #ffebce;
  box-shadow: 0px 0px 6px #ffb9a3, inset 0px 0px 5.5px 1px rgba(0, 0, 0, 0.5);
  border-radius: 500px;

  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 180%;
  /* identical to box height, or 68px */

  text-align: center;

  color: #ffecbc;
  padding: 8px 72px 8px 72px;

  position: fixed;
  bottom: 150px;
  left: 50%;
  transform: translate(-50%);
}

/* GAME */
.host-game-center {
  text-align: center;
  width: 100%;

  max-width: 1800px;
  margin: auto;
  text-align: -webkit-center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.host-game-question {
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 700;
  font-size: 52px;

  /* identical to box height, or 108px */

  text-align: center;

  color: #ffecbc;
  padding-top: 64px;
  max-width: 1800px;
  margin: auto;
}

.host-game-options {
  display: flex;
  justify-content: space-between;
}

.host-game-options-col-1 {
  width: 100%;
}

.host-game-option-div {
  padding: 48px;
}

.host-game-options-col-2 {
  height: 100%;
  padding-top: 90px;
}

.host-game-timer-div {
  background: radial-gradient(50% 50% at 50% 50%, #66421c 0%, #201307 100%);
  border: 3px solid #ffecbc;
  border-radius: 500px;
  height: 190px;
  width: 190px;
}
.host-game-timer-text {
  padding: 56px;
  margin: auto;

  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 60px;

  text-align: center;

  color: #ffecbc;
}

.host-game-numbers {
  display: flex;
  justify-content: center;

  position: fixed;
  bottom: 36px;
  left: 50%;
  transform: translate(-50%);
}

.host-game-number-selected {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 32px;

  text-align: center;

  color: #fff;

  text-shadow: 1.5px -2px 8.5px rgba(0, 0, 0, 0.25);

  background: #745331;
  border: 1.56048px solid #ffffff;
  box-shadow: 1.5px -2px 8.5px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
  padding: 8px 16px;
}

.host-game-number {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 32px;

  text-align: center;

  color: rgba(255, 255, 255, 0.6);

  text-shadow: 1.5px -2px 8.5px rgba(0, 0, 0, 0.25);

  padding: 8px 16px;
}

/* RESULT */
.host-result-heading {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 700;
  font-size: 56px;

  text-align: center;

  color: #ffecbc;

  mix-blend-mode: normal;
  text-shadow: 0px 3px 7px rgba(0, 0, 0, 0.25);
  padding-top: 32px;
}

.host-result-podium {
  position: absolute;
  width: 875px;
  height: 793px;
  left: 200px;
  top: 143px;
}

.host-first-rank-name-card {
  position: absolute;
  left: 26.2%;
  right: 59.22%;
  top: 27.96%;
  bottom: 64.63%;

  background: #ffecbc;
  border: 2.84002px solid #ffbd3e;
  box-shadow: 0px 4.73337px 11.3601px rgba(0, 0, 0, 0.46);
  border-radius: 30.2936px;

  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 300%;

  color: #573d2a;
}

.host-first-rank-details {
  position: absolute;
  left: 25%;
  right: 58%;
  top: 64%;
  bottom: 0%;
}

.host-first-rank-details-place {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 17.0401px;
  line-height: 120.5%;
  margin-bottom: 72px;

  color: #573d2a;
}

.host-first-rank-details-score {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 23.103px;
  line-height: 120.5%;

  color: #ffffff;
}

.host-first-rank-details-point {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 39.7083px;
  line-height: 120.5%;

  color: #ffffff;
}

.host-second-rank-name-card {
  position: absolute;
  left: 14%;
  right: 77.86%;
  top: 44.63%;
  bottom: 50.74%;

  background: #ffecbc;
  border: 2.84002px solid #9bd1e2;
  box-shadow: 0px 1.23708px 6.62672px rgba(0, 0, 0, 0.46);
  border-radius: 16.0935px;

  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 280%;

  color: #573d2a;
}

.host-second-rank-details {
  position: absolute;
  left: 12%;
  right: 75%;
  top: 68%;
  bottom: 0%;
}

.host-second-rank-details-place {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 17.0401px;
  line-height: 120.5%;
  margin-bottom: 48px;

  color: #573d2a;
}

.host-second-rank-details-score {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 120.5%;

  color: #ffffff;
}

.host-second-rank-details-point {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 120.5%;

  color: #ffffff;
}

.host-third-rank-name-card {
  position: absolute;
  left: 44.95%;
  right: 46.94%;
  top: 51%;
  bottom: 44%;

  background: #ffecbc;
  border: 2.84002px solid #fd937b;
  box-shadow: 0px 1.23708px 6.62672px rgba(0, 0, 0, 0.46);
  border-radius: 16.0935px;

  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 280%;

  color: #573d2a;
}

.host-third-rank-details {
  position: absolute;
  left: 42.5%;
  right: 46%;
  top: 71%;
  bottom: 0%;
}

.host-third-rank-details-place {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 17.0401px;
  line-height: 120.5%;
  margin-bottom: 28px;

  color: #573d2a;
}

.host-third-rank-details-score {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 120.5%;

  color: #ffffff;
}

.host-third-rank-details-point {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 120.5%;

  color: #ffffff;
}

.host-other-rank {
  position: absolute;
  width: 500px;
  height: 768px;
  left: 1218px;
  top: 150px;
  overflow: scroll;
}

.host-other-rank-card {
  background: rgba(125, 83, 38, 0.5);
  border: 2.25px solid #ffecbc;
  box-shadow: inset 0px 4.5px 11.5px rgba(0, 0, 0, 0.25);
  border-radius: 500px;
  margin-bottom: 24px;
  display: flex;
  justify-content: space-between;
  padding: 12px 48px 12px 48px;
}

.host-other-rank-name {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;

  color: #ffffff;
}

.host-other-rank-number {
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;

  color: #ffffff;
}
